.wrapper {
  float:left;
}

#board {
  float: left;
  padding: 5px;
  background: #dedeff;
  border: 1px solid #666;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
}
.row {
  float: left;
  clear: both;
  border-bottom: 1px solid #666;
}
  .row:last-child {
    border: 0 none;
   }
  
.hints, .combination {
  display: inline;
  float:left;
}

.hints {
  margin: 5px;
}
  .hints .circle {
    float: left;
    width: 12px;
    height: 12px;
    margin: 4px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius: 7px;
    border: 1px solid #333333;
    /*box-shadow: 2px 2px 0 #666666 inset;*/
  }
    .hints .circle:nth-child(3) {
      clear: left;
    }

.combination {
  margin: 5px auto;
}
  .combination .circle {
    float: left;
    width: 30px;
    height: 30px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius: 15px;
    background: #fff;
    margin: 5px;
    cursor: pointer;
  }
  
#check {
float:left;
margin: 5px 0;
}